<%- include("partials/header") -%>
  <div class="addDish-card-holder">
    <div class="card shadow addDish-card">
      <form class="user-form" action="/addDish/process" method="post" >
      <div class="addDish-header">
        <h1>Add Dishes</h1>
        <!-- TODO: Backend when Add Dish is created-->
        
        <button type="submit" class="btn btn-save-progress" >Submit </button>
   
        <a href="/manageDishes"><button id="cancelBtn" type="button" class="btn btn-secondary" style="margin-left: 10px; color: white;">
          Discard</button></a>
      </div>
      <hr>
      <div>
        <p>Fill out input fields for the details of the dish.</p>
        <% if(error_msg) { %>    
          <p style="color:red; font-weight:bold"> <%= error_msg %> </p>
        <% } %>	
        <br/>
      </div>

      <div style="display: flex; flex-direction: row;">


        <div style="width: 30%;">

          <!-- Dish Name -->
          <div class="form-group col-md-10">
            <label for="inputDishName">Dish Name</label>
            <input type="text" class="form-control" name="inputDishName" id="inputDishName"
              placeholder="e.g. Shawarma Rice" required>
          </div>
          <br>
          <!-- Category -->
          <div class="form-category" style="width: 84%">
            <label for="inputCategory">Category</label>
            <select class="form-select" id="inputCategory" name="category" required>
              <option disabled selected value>Food Category</option>
              <!-- TODO: Backend -->
              <% if(categories.length > 0) {%>
                <% categories.forEach(categories => { %> 
                    <option style=text-transform:capitalize value="<%= categories.category %>"><%= categories.category %></option>
                <% }) %> 
            <% } %>
            </select>
          </div>
          <br>

          <!-- Price Input -->
          <div class="form-group col-md-10">
            <label for="inputPrice">Price</label>
            <div class="input-group">
              <span class="input-group-text">Php</span>
              <input type="number" class="form-control" name="Amount" id="inputPrice" min="1"
                placeholder="e.g. 150.00" style="text-align: left;" required>
            </div>
          </div>

        </div>

        <div style="width: 70%;">

          <div id="form-row">
            <div id="form-row-content" style="display: flex;">
              <div class="form-ingredients">
                <label for="ingredient">Ingredients</label>
                <select class="form-select" id="ingredient" name="ingredient" aria-label="Default select example"
                  required>
                  <option disabled selected value>Select Ingredient</option>
                  <!-- TODO: Backend -->
                  <% if(ingredients.length > 0) {%>
                    <% ingredients.forEach(ingredients => { %> 
                        <option style=text-transform:capitalize value="<%= ingredients.name %>"><%= ingredients.name %></option>
                    <% }) %> 
                <% } %>
                </select>
              </div>



              <div class="form-group" style="margin-left: 13px;">
                <label for="inputAmt">Amount</label>
                <input type="number" class="form-control" name="inputAmount" id="inputAmt" placeholder="1" min="1"
                  required>
              </div>



              <div class="form-unit" style="margin-left: 10px;">
                <label for="ingreUnits">Unit</label>
                <select class="form-select" name="selectUnit" id="ingreUnits" aria-label="Default select example"
                  required>
                  <option disabled selected value>Select Unit</option>
                  <% if(units.length > 0) {%>
                    <% units.forEach(units => { %> 
                        <option style=text-transform:capitalize value="<%= units.unitName %>"><%= units.unitName %></option>
                    <% }) %> 
                <% } %>
                  <!-- TODO: Backend -->
                </select>
              </div>
              <!-- Div Button -->
              <div class="form-row-buttons" style="align-items: last baseline;">
                <!-- Remove Ingredient Button -->
                <button class="btn btn-danger" onclick="removeForm(this)" id="removeIngredientBtn"> x </button>
                <!-- Add Ingredient Button -->
                <button class="btn btn-light" id="addIngredientBtn" onclick="duplicateForm();"> + </button>

              </div>

            </div>
          </div> <!--ending tag for form row  -->

        </div>
      </form>
      </div>

    </div>

  </div>

  </div>
  </div>
  <script src="/js/addDish.js"></script>
  <%- include("partials/footer") -%>