<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #add-ni-card {
        margin: auto;
        width: 600px;
    }
</style>
<div id="add-ni-card" class="card shadow">
    <div>
        <h1 style="text-align: center; padding: 5px;">Add New Ingredient</h1>
    </div>
    <hr/>
    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div style="text-align: center;">
        <p>Fill-out the fields by inputting the details of the NEW ingredient.</p>
        <p>If the ingredient to be added ALREADY EXISTS in the inventory, proceed to <a href="/recordFirst/p1">Record First Purchase</a> or <a href="/recordAddtl/p1">Record Purchase</a>.</p>
        <br/>
    </div>
    <form method="post" action="/addNewIngredient/process">
        <div class="form-group form-align-left">
            <label>Ingredient Name</label>
            <input type="text" name="ingreName" placeholder="e.g. Cabbage, Sesame Oil, Beef" min="1" class="form-control" style="text-align: left; width: 100%;" required>
        </div>
        <br/>

        <div class="form-group form-align-left">
            <label>Default Unit</label>
            <select id="add-ni-unit" name="ingreUnit" class="form-select form-select-md" style="margin-top: 10px; width: 100%;" required>
                <option disabled selected value> -- Select Unit -- </option>
                <% for(let i = 0; i < units.length; i++){ %>
                    <option value="<%= units[i].unitSymbol %>"><%= units[i].unitSymbol %> (<%= units[i].unitName %>s)</option>
                <% } %>
            </select>
        </div>
        <br/>

        <div class="form-group form-align-left">
            <label style="margin-bottom: 10px;">Will this ingredient have definite packaging options?</label><br/>
            <input type="radio" id="add-radio-1" name="hasVariant" value="Yes" required>
            <label for="add-radio-1" style="margin-right: 20px;">Yes</label>
            <input type="radio" id="add-radio-2" name="hasVariant" value="No">
            <label for="add-radio-2">No</label><br> 
        </div>
        <br/>

        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Add to Inventory</button>
    </form>
</div>

<script src="/js/addNewIngredient.js"></script>

<%- include("partials/footer") -%>