<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #record-card{
        margin: auto;
        width: 600px;
    }

    #record-others-field{
        display: flex;
    }
</style>    

<div id="record-card" class="card shadow">
    <!-- TODO: Change DIV CLASS -> Own [inventory-header] -->
    <div>
        <h1 style="text-align: center; padding: 5px;">Add Units</h1>
    </div>
    <hr/>

    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div>
        <p style="text-align: center;">Use the fields below to input your new unit.</p>
        <br/>
    </div>

    <!-- TODO: Backend form -->
    <form method="post" action="/addUnit/process">

        <div class="form-group">
            <label>New Unit Name</label>
                <input type="text" name="unitName" placeholder="e.g. Kilogram" class="form-control" style="text-align: left; width: 100%;">
        </div>
        <br/>

        <div class="form-group">
            <label>New Unit Symbol</label>
                <input type="text" name="unitSymbol" placeholder="e.g. KG" class="form-control" style="text-align: left; width: 100%;">
        </div>
        <br/>

        <div class="form-group">
            <label>Select Reference Ingredient</label>
                <select name="ingreRef" class="form-select form-select-md" style="text-transform: capitalize; width: 100%; padding: 5px;" required>
                    <option disabled selected value> -- Select an Ingredient -- </option>
                    
                    <% ingredients.forEach(function(ingre){ %>
                        <option value="<%=ingre._id.toString()%>"><%=ingre.name%> 
                                                    
                            <% units.forEach(function(unit) {%>
                                <% if(unit._id.toString() == ingre.unitID) { %>
                                    (<%= unit.unitName%>)
                                <% } %>
                            <% }) %>
                        </option>
                    <% }); %>   

                </select>
        </div>
        <br/>

        <div class="form-group">
            <label>Conversion Factor</label>
                <input type="number" name="conversionFactor" placeholder="e.g. 1" min="0.00000001" class="form-control" style="text-align: left; width: 100%;">
        </div>
        <br/>

        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Submit</button>

        <br/>

        <div class="centered">
            <% if(error_msg) { %>    
                <p style="color:red; font-weight:bold; margin-top: 15px; text-align: center;"> <%= error_msg %> </p>
            <% } %>
            
            <% if(success_msg) { %>    
                <p style="color:green; font-weight:bold; margin-top: 15px; text-align: center;"> <%= success_msg %> </p>
            <% } %>
        </div>


    </form>
</div>

<%- include("partials/footer") -%>