<%- include("partials/header") -%>
    <div class="viewdish-card-holder">
        <div class="card shadow viewdish-form" style="width: 57%;">
            <form method="post" action="/approveDish/process">
                <div class="viewdish-header">
                    <!-- BACK BUTTON TO MANAGE DISHES -->
                    <div class="form-align-left"  style="color: #818181;">
                        <a href="/manageDishes">
                            <i class="fa-solid fa-arrow-left fa-lg" style="color: #818181; margin-bottom: 20px;"></i>
                            Back to Manage Dishes
                        </a>
                    <!-- BACK BUTTON TO MANAGE DISHES -->
                        <div style="color: #000000;">
                            <h1>Approve Dishes</h1>
                            </div>
                    </div>
                </div>
                <hr>
                <% if(error_msg) { %>    
                    <p style="color:red; font-weight:bold"> <%= error_msg %> </p>
                    <% }%>
                  <%  if(success_msg){%>
                    <p style="color:green; font-weight:bold"> <%= success_msg %> </p>
                    <% }%>
                <p>Owner will <b><u>APPROVE</u></b> or <b><u>REJECT</u></b> the dish made by the chef</p>
                <!-- TODO: For Loop with modal -->
                <!-- TODO: Change Value, id, and name for each dishes -->
                <table class="table table-striped" id="dishTable"
                    style=" width: 100%; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: left;">Dish Name</th>
                            <th scope="col" style="text-align: center;">Category</th>
                            <th scope="col" style="text-align: center;">Price</th>
                            <th scope="col" style="text-align: center;">Recipe</th>
                            <th scope="col" style="text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (dishes. length > 0){ %>
                        <% dishes.forEach(function(dish) { %>
                        <tr>
                            
                            
                            <td style="text-align: left; text-transform: capitalize;">
                                        <%= dish.name %>
                            </td>
                            
                            <td style="text-transform: capitalize;"><%= dish.category %></td>
                            <td>₱ <%= dish.price %></td>
                            <td><button class="viewRecipeBtn" data-toggle="modal" data-target="#dishDetailsModal<%= dish._id %>" type ="button" style="color: #0091cf;">
                                    View Recipe</button></td>
                            <!-- Approve Button -->
                            <td style="display: flex; align-items: center;">
                                <button id="approveDishBtn" type='submit' class="btn btn-success" name="approve" value="<%= dish._id %>"
                                style="margin-left: 10px; color: white;">
                                Approve</button> 
                            <!-- Reject Button -->
                                <button id="rejectDishBtn" type='submit' class="btn btn-danger" name="reject" value="<%= dish._id %>"
                                style="margin-left: 10px; color: white; flex: content;">
                                 Reject </button>
                            </td>
                        </tr>
                        <% }); %>
                        <% } else {%>
                            <tr>  <td colspan="5" ><p style="font-weight:bold; margin-top: 15px; vertical-align: center; "> No Pending Dishes For Approval </p></td></tr>
                           
                        <% }%>
                    </tbody>
                </table>
                </div>
            </form>
        </div>
    </div>

    <!--MODAL MAKER -->
    <% dishes.forEach(function(dish) { %>
    <div class="modal fade" id="dishDetailsModal<%= dish._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="dishCategory" style="padding: auto;" name="dishCategory"><%= dish.category %></h4>

                    <div data-dismiss="modal">
                        <i class="fa-solid fa-x" style="color: #000000;"></i>
                    </div>

                </div>
                <div class="modal-body">
                    <h2 class="modal-body" id="dishName" style="text-align: center;"><%= dish.name %></h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ingredients</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% dish.recipe.forEach(function(item) { %>
                            <tr>
                                <td style="text-transform: capitalize;"><%= item.ingredientName %></td>
                                <td><%= item.chefWeight %></td>
                                <td style="text-transform: capitalize;"><%= item.chefUnitSymbol %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <script src="js/approveDishes.js"></script>
    <%- include("partials/footer") -%>