<%- include("partials/header") -%>

    <div class="card-holder">
        <div class="card shadow d-flex flex-column text-left" style="min-width: 25vw; min-height: 10vw;">
                
            <form class="user-form" action="/createUser" method="POST" >
                <div class="form-align-left"  style="color: #818181;">
                    <a href="/manageUser">
                        <i class="fa-solid fa-arrow-left fa-lg" style="color: #818181;"></i>
                        Back
                    </a>
                </div>

                <h1 id="content-title">User Creation Form</h1>
                <hr>

                <div class="form-group form-align-left" style="margin-top: 10px;">
                    First Name
                    <input type="text" class="form-control" name="firstName" value="<%=firstName%>" required>
                </div>

                <div class="form-group form-align-left" style="margin-top: 10px;">
                    Last Name
                    <input type="text" class="form-control" name="lastName" value="<%=lastName%>" required>
                </div>

                <div class="form-group form-align-left" style="margin-top: 10px;">
                    Position
                    <select class="form-control" name="position" required>
                        
                        <!-- <option hidden disabled selected></option>
                        <option value="owner">Owner</option>
                        <option value="stockController">Stock Controller</option>
                        <option value="chef">Chef</option>
                        <option value="cashier">Cashier</option> -->

                        <option hidden disabled 
                            <% if (position == "") { %>
                                selected
                            <% } %>
                        ></option>

                        <option value="owner"
                            <% if (position == "owner") { %>
                                selected
                            <% } %>
                        >Owner</option>

                        <option value="stockController"
                            <% if (position == "stockController") { %>
                                selected
                            <% } %>
                        >Stock Controller</option>

                        <option value="chef"
                            <% if (position == "chef") { %>
                                selected
                            <% } %>
                        >Chef</option>

                        <option value="cashier"
                            <% if (position == "cashier") { %>
                                selected
                            <% } %>
                        >Cashier</option>


                    </select>
                </div>       

                <div class="form-group form-align-left" style="margin-top: 10px;">
                    User Name
                    <input type="text" class="form-control" name="userName" required>
                </div>
                
                <div class="form-group form-align-left" id="pw1" style="margin-top: 10px;">
                    Password
                    <input type="password" class="form-control" name="password1" required>
                </div>

                <div class="form-group form-align-left" id="pw2" style="margin-top: 10px;">
                    Confirm Password
                    <input type="password" class="form-control" name="password2" required>
                </div>

                <hr>

                <div class="user-confirm">
                    <button class="btn btn-primary w-100"  style="background-color: #41A162;" type="submit" data-toggle="modal" data-target="#exampleModal">Create User</button>
                </div>           
            </form>

            <div class="centered">
                <h6 id="prompt"><%=createUserPrompt%></h6>
            </div>
            
        </div>    
    </div>

    <script src="js/checkPwMatch.js"></script>
    
<%- include("partials/footer") -%>