<%- include("partials/header") -%>
<div class="category-form-holder">
    <div class="card shadow detailed-report-card">
        <div class="detailed-header">
            <h3><b> Detailed Stock Report </b></h3>
            <h5><b id="align-right">Report for <%= dateString %></b></h5>
           
            <hr>
        </div>
        <div class="detailed-header">
            <h3 style="text-transform: capitalize;">for <%= ingredient.name %></h3>
            <i>Generated on <span id="current_date"></span></i>  
        </div>
        <hr>         
        <table id="report-table" class="table table-striped" style="margin-top: 1rem;" data-order='[[ 4, "desc" ]]' data-page-length='10'>
            <thead>
            <tr id="report-tr">
                <th scope="col" style="text-align:center">Type</th>
                <th scope="col" style="text-align:center">Variant</th>
                <th scope="col" style="text-align:center">Net Weight</th>
                <th scope="col" style="text-align:center">Unit</th>
                <th scope="col" style="text-align:center">Date</th>
                <th scope="col" style="text-align:center">Done By</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < qtyPurchase.length;  i++ ) { %>
                <tr>
                    <td style="padding-left: 2em;" class="left-td">
                        Purchased
                    </td>
                    <td style="padding-left: 2em;" class="left-td">
                        <%= variantPurchase[i] %>
                    </td>
                    <td class="right-td" style="padding-right: 3em;">
                        <%= qtyPurchase[i] %>
                    </td>
                    <td>
                        <%= unitPurchase[i] %>
                    </td>
                    <td>
                        <%= datePurchase[i] %>
                    </td>
                    <td>
                        <%= doneByPurchase[i] %>
                    </td>
                </tr>
            <% } %>
            <% for (var i = 0; i < qtyDiscard.length;  i++ ) { %>
                <tr>
                    <td style="padding-left: 2em;" class="left-td">
                        Discarded
                    </td>
                    <td style="padding-left: 2em;" class="left-td">
                        <%= variantDiscard[i] %>
                    </td>
                    <td class="right-td" style="padding-right: 3em;">
                        <%= qtyDiscard[i] %>
                    </td>
                    <td>
                        <%= unitDiscard[i] %>
                    </td>
                    <td>
                        <%= dateDiscard[i] %>
                    </td>
                    <td>
                        <%= doneByDiscard[i] %>
                    </td>
                </tr>
            <% } %>
            <% for (var i = 0; i < qtyMismatch.length;  i++ ) { %>
                <tr>
                    <td style="padding-left: 2em;" class="left-td">
                        Mismatch
                    </td>
                    <td style="padding-left: 2em;" class="left-td">
                        N/A
                    </td>
                    <td class="right-td" style="padding-right: 3em;">
                        <%= qtyMismatch[i] %>
                    </td>
                    <td>
                        <%= unitMismatch[i] %>
                    </td>
                    <td>
                        <%= dateMismatch[i] %>
                    </td>
                    <td style="padding-left: 2em;" class="left-td">
                        <%= doneByMismatch[i] %>
                    </td>
                </tr>
            <% } %>
            <% for (var i = 0; i < qtyConsumed.length;  i++ ) { %>
                <tr>
                    <td style="padding-left: 2em;" class="left-td">
                        Consumed
                    </td>
                    <td style="padding-left: 2em;" class="left-td">
                        N/A
                    </td>
                    <td class="right-td" style="padding-right: 3em;">
                        <%= qtyConsumed[i] %>
                    </td>
                    <td>
                        <%= unitConsumed[i] %>
                    </td>
                    <td>
                        <%= dateConsumed[i] %>
                    </td>
                    <td>
                        <%= doneByConsumed[i] %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>

</div> 


<script src="/js/calendarCustom.js"></script>
<script src="/js/reportDataTable.js"></script>
<%- include("partials/footer") -%>