<%- include("partials/header") -%>
<div class="category-form-holder">
    <div class="card shadow detailed-report-card">
        <div class="detailed-header">
            <h3><b> Detailed Stock Report </b></h3>
            <h5><b id="align-right">Report for <%= periodicalDate %> <%= formattedStartDate %> <%= formattedEndDate %></b></h5>
           
            <hr>
        </div>
        <div class="detailed-header">
            <h3 style="text-transform: capitalize;">for <%= ingredient.name %></h3>
            <i>Generated on <span id="current_date"></span></i>  
        </div>
        <hr>         
        <table id="report-table" class="table table-striped" style="margin-top: 1rem;" data-order='[[ 4, "desc" ]]' data-page-length='10'>
            <thead>
            <tr id="report-tr">
                <th id="report-type" scope="col">Type</th>
                <th scope="col">Variant</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit</th>
                <th scope="col">Date</th>
                <th scope="col">Done By</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < qtyPurchase.length;  i++ ) { %>
                <tr>
                    <td>
                        Purchased
                    </td>
                    <td>
                        <%= variantPurchase[i] %>
                    </td>
                    <td>
                        <%= qtyPurchase[i] %>
                    </td>
                    <td>
                        <%= unitPurchase[i] %>
                    </td>
                    <td>
                        <%= datePurchase[i] %>
                    </td>
                    <td>
                        <%= doneByPurchase[i] %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

</div> 


<script src="/js/calendarCustom.js"></script>
<script src="/js/detailedDataTable.js"></script>
<%- include("partials/footer") -%>