<%- include("partials/header") -%>
<div class="category-form-holder">
    <div class="card shadow detailed-report-card">
        <div class="detailed-header">
            <h3><b> Detailed Order Report </b></h3>
            <h5><b id="align-right">Report for <%= dateString %></b></h5>
           
            <hr>
        </div>
        <div class="detailed-header">
            <h3 style="text-transform: capitalize;">for <%= dishName %></h3>
            <i>Generated on <span id="current_date"></span></i>  
        </div>
        <hr>
         
        <table id="report-table" class="table table-striped" style="margin-top: 1rem;" data-order='[[ 0, "desc" ]]' data-page-length='10'>
            <thead>
                <tr id="report-tr" style="text-align:center">
                    <!--<th id="report-type" scope="col">Type</th>-->
                    <th scope="col" style="text-align:center">Order Date</th>
                    <th scope="col" style="text-align:center">Quantity Ordered</th>
                    <th scope="col" style="text-align:center">Total Price</th>
                    <th scope="col" style="text-align:center">Taken By</th>
                </tr>
            </thead>
            <tbody>
                <% dateValues.forEach(function(date, index){ %> 
                <tr>
                    <td><%= date %></td>
                    <td class="right-td" style="padding-right: 7em;"><%= qtyValues[index] %></td>
                    <td class="right-td" style="padding-right: 3em;">₱ <%= priceValues[index].toFixed(2) %></td>
                    <td style="padding-left: 4em;" class="left-td"><%= userValues[index] %></td>
                </tr> 
                <% }) %>
            </tbody>
        </table>
    </div>

</div> 


<script src="/js/calendarCustom.js"></script>
<script src="/js/reportDataTable.js"></script>
<%- include("partials/footer") -%>