<%- include("partials/header") -%>

    <!-- TODO: Add later to CSS file -->
    <style>
        #discard-card {
            margin: auto;
            width: 600px;
        }
        
        #discard-others-field {
            display: flex;
        }
    </style>

    <div id="discard-card" class="card shadow">
        <div>
            <h1 style="text-align: center; padding: 5px;">Discard Ingredients</h1>
        </div>
        <hr/>

        <div>
            <p style="text-align: center;">Fill-out all of the fields by inputting the net weight, unit, and quantity to be disposed for the selected ingredient.</p>
            <p style="text-align: center;">Type of ingredient you will be disposing: <b style="color:rgb(0, 138, 189); text-transform: uppercase;"><u><%= ingredient.name %></u></b></p>
            <br/>
        </div>

        <form method="post" action="/viewInventory/discard/p2/process">
            <input id="discard-select-category" name="ingreCategory" type="hidden" value="<%= ingredient.category %>" />
            <% console.log(ingredient.category) %>
                <input name="ingreId" type="hidden" value="<%= ingredient._id %>" />
                <% console.log(ingredient._id) %>

                    <div class="form-group">
                        <label>Sizing Option</label>
                        <!-- TODO: Translate Style to CCS -->
                        <select id="discard-select-nu-input" name="ingreNetUnit" class="form-select form-select-md" style="width: 100%; padding: 5px;" onchange="addInputFields()" required>
                <option disabled selected value> -- Select Size of Ingredient -- </option>
                <% if(variants.length > 0) {%>
                    <% variants.forEach(variant => { %> 
                        <% units.forEach(unit => { %>
                            <% if (unit._id.equals(variant.unitID)) {%>
                                <option value="<%= variant._id %>"><%= variant.netWeight%> <%= unit.unitSymbol %> (<%= unit.unitName %>s)</option>
                            <% }%> 
                        <% })%> 
                    <% }) %> 
                <% } %>
                <option value="others">Others... (Specify)</option>
            </select>
            </div>
            <div class="form-group" id="discard-others-field"></div>
            <br/>

            <div id="discard-qty-field">
                <!-- <label id="discard-qty-label">Quantity</label> -->
                <!-- TODO: CSS - Translate Style -->
                <!-- <input type="number" id="discard-qty-input-field" name="ingreQty" class="form-control" placeholder="Minimum: 1" min="1" style="text-align: left; width: 100%; padding: 5px;" required> -->
            </div>
            <br/>

            <hr/>
            <button type="submit" class="btn btn-submit-count" style="width: 100%;">Discard & Apply Changes</button>
        </form>

        <button class="btn btn-secondary" style="color:white; width: 100%;" onclick="history.back()">Return to Previous page</button>
    </div>

    <script src="/js/discardIngredient.js"></script>

    <%- include("partials/footer") -%>