<%- include("partials/header") -%>
  <div class="editDish-card-holder">
    <div class="card shadow editDish-card">
      <form class="user-form" action="" method="post" >
      <div class="editDish-header">
        <h1>Edit Dish</h1>

        <button type="submit" class="btn btn-save-progress" >Submit</button>
   
        <a href="/manageDishes"><button id="cancelBtn" type="button" class="btn btn-secondary" style="margin-left: 10px; color: white;">
          Discard</button></a>
      </div>
      <hr>
      <div>
         <!-- Dish Name Code below-->
         <input class="form-check-input select" type="hidden" value="<%= dish.name %>" name="dishName" id="foodName1">
        <p><h3><%= dish.name %></h3></p>
        <br/>
      </div>

      <div style="display: flex; flex-direction: row;">


        <div style="width: 30%;">

         
          <!-- Category -->
          <div class="form-category" style="width: 84%">
            <label for="inputCategory">Category</label>
            <select class="form-select" id="inputCategory" name="category" required>
              
              
              <% if(categories.length > 0) {%>
                <% categories.forEach(categories => { %>  
                  <% if(category.category == categories.category) {%>
                    <option selected style=text-transform:capitalize value="<%= categories.category %>"><%= categories.category %></option>
              <!-- TODO: Backend -->
              <% } else{%>
              
                    <option style=text-transform:capitalize value="<%= categories.category %>"><%= categories.category %></option>
                    <% } %>
                    <% }) %> 
            <% } %>
            </select>
         
          </div>
          <br>

          <!-- Price Input -->
          <div class="form-group col-md-10">
            <label for="inputPrice">Price</label>
            <div class="input-group">
              <span class="input-group-text">Php</span>
              <input type="number" class="form-control" name="Amount" id="inputPrice" min="1"
                placeholder="e.g. 150.00" style="text-align: left;" value ="<%= dish.price %>" required>
            </div>
          </div>

        </div>

        <div style="width: 70%;">
          
          <div id="form-row">
              <!-- EMPTY: For adding -->
              <div id="form-row-content" style="display: none; ">
                <div class="form-ingredients">
                  <label for="ingredient">Ingredients</label>
                  <select class="form-select" id="ingredient" name="ingredient" aria-label="Default select example" required>
                    <option disabled selected value>Select Ingredient</option>
                    <!-- TODO: Backend -->
                    <% if(ingredients.length > 0) {%>
                      <% ingredients.forEach(ingredients => { %> 
                          <option style=text-transform:capitalize value="<%= ingredients.name %>"><%= ingredients.name %></option>
                      <% }) %> 
                    <% } %>
                  </select>
                </div>
        
                <div class="form-group" style="margin-left: 13px;">
                  <label for="inputAmt">Amount</label>
                  <input type="number" class="form-control" name="inputAmount" id="inputAmt" placeholder="1" min="1" required>
                </div>
        
                <div class="form-unit" style="margin-left: 10px;">
                  <label for="ingreUnits">Unit</label>
                  <select class="form-select" name="selectUnit" id="ingreUnits" aria-label="Default select example" required>
                    <option disabled selected value>Select Unit</option>
                    <% if(units.length > 0) {%>
                      <% units.forEach(units => { %> 
                          <option style=text-transform:capitalize value="<%= units.unitName %>"><%= units.unitName %></option>
                      <% }) %> 
                    <% } %>
                    <!-- TODO: Backend -->
                  </select>
                </div>
        
                <div class="form-row-buttons" style="align-items: last baseline;">
                  <!-- Remove Ingredient Button -->
                  <button class="btn btn-danger" onclick="removeForm(this)" id="removeIngredientBtn"> x </button>
                  <!-- Add Ingredient Button -->
                  <button class="btn btn-light" id="addIngredientBtn" onclick="duplicateForm();"> + </button>
                </div>
              </div>

            <% recipe.forEach(function(recipes) { %>
              <%recipes.ingredients.forEach((ingre, index) =>  {%>
            <div class="form-row" id="form-row-content" style="display: flex;">
             
              <div class="form-ingredients">
                <%if(index === 0){%><label for="ingredient">Ingredients</label><%}%>
                
                
                <select class="form-select" id="ingredient" name="ingredient" aria-label="Default select example"
                  required>
                  
                  <% if(ingredients.length > 0) {%>
                    <% ingredients.forEach(dient => { %>  
                      <% if(ingre.ingredient.toString() == dient._id.toString()) {%>

                        <option selected style=text-transform:capitalize value="<%= dient.name %>"><%= dient.name %></option>
                  <!-- TODO: Backend-->                        
                  <% } else{%>
                        <option style=text-transform:capitalize value="<%= dient.name %>"><%= dient.name %></option>

                        <% } %>
                    <% }) %> 
            <% } %>
                </select>
                
              </div>



              <div class="form-group" style="margin-left: 13px;">
                <%if(index === 0){%>
                <label for="inputAmt">Amount</label>
                <%}%>
                
                <input type="number" class="form-control" name="inputAmount" id="inputAmt" placeholder="1" min="1" value="<%= ingre.chefWeight %>"
                  required>
              </div>



              <div class="form-unit" style="margin-left: 10px;">
                <%if(index === 0){%><label for="ingreUnits">Unit</label><%}%>
                <select class="form-select" name="selectUnit" id="ingreUnits" aria-label="Default select example"
                  required>
                  <% if(units.length > 0) {%>
                    <% units.forEach(unit => { %>  
                      <% if(ingre.chefUnitID.toString() == unit._id.toString()) {%>
                        <option selected style=text-transform:capitalize value="<%= unit.unitName %>"><%= unit.unitName %></option>
                  <% } else{%>
                        <option style=text-transform:capitalize value="<%= unit.unitName %>"><%= unit.unitName %></option>
                        <% } %>
                    <% }) %> 
            <% } %>
                </select>
              </div>
              <!-- Div Button -->
              <div class="form-row-buttons" style="align-items: last baseline;">
                <%if(index != 0){%>
                <!-- Remove Ingredient Button -->
                <button type="button" class="btn btn-danger" onclick="removeForm(this)" id="removeIngredientBtn"> x </button>
                <%}%>
                <!-- Add Ingredient Button -->
                <button type="button" class="btn btn-light" id="addIngredientBtn" onclick="duplicateForm()"> + </button>

              </div>

            </div>
            <% }) %> 
          <% }) %>
          </div> <!--ending tag for form row  -->
          
        </div>
      </form>
      </div>

    </div>

  </div>

  </div>
  </div>
  <script src="/js/editDish.js"></script>
  <%- include("partials/footer") -%>