<%- include("partials/header") -%>

<% if (session.position == 'admin') {%> 
    <div class="card shadow">
        <div class="card-body d-flex flex-column">
            <h1>🍽️Dish Alerts</h1> 
            <hr>
            
            <table class="table table-striped table-bordered" style="width: 100%; margin: 0 auto;">
                <thead>
                    <tr>
                        <th scope="col" style="width: 50%;">Report</th>
                        <th scope="col" style="width: 50%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%if (counter > 0){ %>
                     <tr>
                        <td style="text-transform: capitalize;">You have <%= counter %> dishes for approval</td>
                        <td>
                            <button id="viewReportBtn" class="btn btn-success" type ="button">
                                <a href="/approveDishes %>" style="color: white; text-decoration: none;">
                                    Approve Dishes</a>
                            </button></td>
                        </td>
                     </tr>
                     
                     <% } else {%>
                        <tr>  <td colspan="2" ><p style="font-weight:bold; margin-top: 15px; vertical-align: center; "> No Alerts for Today! </p></td></tr>
                       
                    <% }%>
                </tbody>
            </table>
        </div>    
    </div>
<% } %>
    <!-- View will depend on the User (Owner and Stock Controller)  -->
    
    <div class="card shadow">
        <div class="d-flex flex-column text-left" style="min-width: 75vw; min-height: 20vw;">
            <div class="card-body d-flex flex-column">
                <h1>🥗Ingredient Alerts</h1> 

                <hr>
                <table class="table table-striped table-bordered" style="width: 100%; margin: 0 auto;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50%;">Report</th>
                            <th scope="col" style="width: 50%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if (stock == 1){ %>
                        <tr>
                            <td style="text-transform: capitalize;">You have <%= stock %> Ingredient that is Low On Stock </td>
                            <td><button id="viewRecipeBtn" class="btn btn-primary"data-toggle="modal" data-target="#ingreModal" type ="button" style="color: white;">
                                View Ingredients</button>
                            </td>
                         </tr>
                         <%}else if (stock > 1){ %>
                            <tr>
                                <td style="text-transform: capitalize;">You have <%= stock %> Ingredients that are Low On Stock </td>
                                <td><button id="viewRecipeBtn" class="btn btn-primary"data-toggle="modal" data-target="#ingreModal" type ="button" style="color: white;">
                                    View Ingredients</button>
                                </td>
                             </tr>
                         <% } else {%>
                            <tr>  <td colspan="2" ><p style="font-weight:bold; margin-top: 15px; vertical-align: center; "> No Alerts for Today! </p></td></tr>
                           
                        <% }%>
                    </tbody>
                </table>
            </div>        
        </div>        
    </div>
 
    <!-- MODAL MAKER FOR INGRE -->
    
    <div class="modal fade" id="ingreModal" tabindex="-1" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ingreTitle" style="padding: auto;" name="ingreTitle">Current Low On Stocks</h4>
                    <div data-dismiss="modal">
                        <i class="fa-solid fa-x" style="color: #000000;"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ingredient</th>
                                <th scope="col">Stock Count</th>
                                <th scope="col">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% ingre.forEach(function(item) { %>
                                <%if (item.totalNetWeight <= item.reorderPoint && item.totalNetWeight == 0){ %>
                            <tr>
                                <th  scope="col" style="text-transform: capitalize;"><%= item.name %></th>
                                <th class="table-danger" scope="col"><%= item.totalNetWeight %></th>
                                <% units.forEach(function(unit) { %>
                                    <%if (unit._id.equals(item.unitID)){ %>
                                        <th scope="col" style="text-transform: capitalize;"><%= unit.unitName %></th>
                                    <% }%>
                                <% })%>
                            </tr>
                            <% }%>

                            <%if (item.totalNetWeight <= item.reorderPoint && item.totalNetWeight != 0){ %>
                                <tr>
                                    <th  scope="col" style="text-transform: capitalize;"><%= item.name %></th>
                                    <th class="table-warning" scope="col"><%= item.totalNetWeight %></th>
                                    <% units.forEach(function(unit) { %>
                                        <%if (unit._id.equals(item.unitID)){ %>
                                            <th scope="col" style="text-transform: capitalize;"><%= unit.unitName %></th>
                                        <% }%>
                                    <% })%>
                                </tr>
                                <% }%>
                            <% })%>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>  
   
<!--  -->
<script src="js/home.js"></script>
<%- include("partials/footer") -%>