<%- include("partials/header") -%>

<div class="physical-card-holder">
    <div class="card shadow physical-card">
        <form method="post" action="/inputPhysicalCount/p2/process">
            <div class="physical-header">
                <h1>Physical Count</h1>
                <button type="submit" class="btn btn-submit-count">Submit Physical Count</button>
            </div>
            <hr/>

            <p>
                Input the physical count for each of the selected ingredient's type / packaging. If necessary, also add the numerical details for partials/used ingredients.
            </p>
            <br/>

            <h4 style="text-transform: uppercase;"><b><%= ingredient.name %></b></h4>
            <p>Current Running Total: <b><u><%= ingredient.totalNetWeight %> <%= ingredientUnit %></u></b></p>
            <hr/>

            <div id="physical-whole-div" class="center-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sizing Option</th>
                            <th scope="col">Net Weight</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="physical-tbl-body">
                        <% for(let i = 0; i < ingredientVariations.length; i++){ %>
                           <tr> 
                               <td><%= ingredientVariations[i].name %></td>
                               <td><%= ingredientVariations[i].netWeight %></td>
                               <td><%= ingredientVariations[i].unitSymbol %></td>
                               <td>
                                   <input type="number" name="variation<%= i+1 %>" placeholder="Qty" min="0" class="form-control" style="margin: auto; width: 80px;" required>
                               </td>
                           </tr>
                        <% } %>
                        <!-- Count of variations / For for-loop in backend -->
                        <input type="hidden" name="variationCount" value="<%= ingredientVariations.length %>">

                        <tr id="physical-partials-field"></tr>
                    </tbody>
                </table>

                <button id="physical-add-field-btn" class="btn btn-success" onclick="addField()" style="width: 100%;">Add Field for Partials / Used</button>
            </div>
        </form>
        <br/>

        <hr/>
        <button class="btn btn-secondary" style="color:white; width: 100%;" onclick="history.back()">Return to Previous page</button>
    </div>
</div>

<script src="/js/inputPhysicalCount.js" data-mydata="<%= JSON.stringify(units) %>"></script>

<%- include("partials/footer") -%>