<%- include("partials/header") -%>

<div class="physical-card-holder">
    <div class="card shadow physical-card">
        <form method="post" action="/inputPhysicalCount/process">
            <div class="physical-header">
                <h1>Physical Count</h1>
                <button type="submit" class="btn btn-submit-count">Submit Physical Count</button>
            </div>
            <hr/>

            <p>
                Input the physical count for each of the selected ingredient's type / packaging. If necessary, also add the details for ingredients that are used.
            </p>
            <br/>

            <!-- TODO: FOR LOOP FOR EACH INGREDIENT -->
            <% for(let i = 0; i < ingredients.length; i++) {%>

                <h4 style="text-transform: uppercase;"><b><%= ingredients[i].name %></b></h4>
                <hr/>
                <div id="physical-whole-div" class="center-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Sizing Option</th>
                                <th scope="col">Net Weight</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="physical-tbl-body">

                            <% for (let j = 0; j < ingredientVariations.length; j++) { %>
                                <% if(ingredients[i].hasVariant && ingredientVariations[j].ingreID.equals(ingredients[i]._id)){ %>
                                    <tr> 
                                        <td><%= ingredientVariations[j].name %></td>
                                        <td><%= ingredientVariations[j].netWeight %></td>
                                        <td><%= ingredientVariations[j].unitSymbol %> (<%= ingredientVariations[j].unitName %>)</td>
                                        <td>
                                            <input type="number" name="variant_qty_<%= ingredientVariations[j]._id %>" placeholder="Qty" min="0" class="form-control" style="margin: auto; width: 80px;" required>
                                        </td>
                                    </tr>
                               <% } %>
                            <% } %>

                            <tr>
                                <% if (!ingredients[i].hasVariant) { %>
                                    <td>No Packaging Option</td>
                                    <td>
                                        <input type="number" name="others_netwt_<%= ingredients[i]._id %>" placeholder="Minimum: 1" min="1" class="form-control" style="text-align: left; width: 100%;" required>
                                    </td>
                                    <td style="align-items: center;">
                                        <select name="others_unit_<%= ingredients[i]._id %>" class="form-select form-select-md" style="width: 100%;" required>
                                            <option disabled selected value> Unit </option>
                                            <% for(let i = 0; i < units.length; i++){ %>
                                                <option value="<%= units[i].unitSymbol %>"><%= units[i].unitSymbol %> (<%= units[i].unitName %>s)</option>
                                            <% } %>
                                        </select>
                                    </td>
                                <% } else { %>
                                    <td>Consumed / Partials</td>
                                    <td>
                                        <input type="number" name="others_netwt_<%= ingredients[i]._id %>" placeholder="Minimum: 1" min="1" class="form-control" style="text-align: left; width: 100%;">
                                    </td>
                                    <td style="align-items: center;">
                                        <select name="others_unit_<%= ingredients[i]._id %>" class="form-select form-select-md" style="width: 100%;">
                                            <option disabled selected value> Unit </option>
                                            <% for(let i = 0; i < units.length; i++){ %>
                                                <option value="<%= units[i].unitSymbol %>"><%= units[i].unitSymbol %> (<%= units[i].unitName %>s)</option>
                                            <% } %>
                                        </select>
                                    </td>
                                <% } %>
                                <td>-</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <br/><br/>
            <% } %>
        </form>
    </div>
</div>

<%- include("partials/footer") -%>