<%- include("partials/header") -%>
    <style>
        /* Other CSS styles... */
        /* New CSS style for the button container */
        
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
        
        .btn-view-inventory {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    </style>
    <div class="physical-card-holder">
        <div class="card shadow physical-card">
            <div class="physical-header">
                <h1>Physical Count Results</h1>
            </div>
            <hr/>

            <br/>

            <% let nonZeroMismatchExists = false; %>
                <% for (const mismatch of mismatches) { %>
                    <% if (mismatch.difference !== 0) { %>
                        <% nonZeroMismatchExists = true; %>
                            <% break; %>
                                <% } %>
                                    <% } %>

                                        <% if (nonZeroMismatchExists) { %>
                                            <p style="font-size: 20px; text-align: center; color: red;"><b>Mismatches Found: The following ingredients have discrepancies between recorded stock and physical count.</b></p>
                                            <% for (const mismatch of mismatches) { %>
                                                <% if (mismatch.difference !== 0) { %>
                                                    <hr/>
                                                    <div id="physical-whole-div" class="center-table">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Ingredient</th>
                                                                    <th scope="col">Total Net Weight</th>
                                                                    <th>Net Weight Difference</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="physical-tbl-body">
                                                                <tr>
                                                                    <td>
                                                                        <%= mismatch.ingredientName %>
                                                                    </td>
                                                                    <td>
                                                                        <%= mismatch.mainIngredientTotalNetWeight.toFixed(2) %>
                                                                            <%= mismatch.unitSymbol %>
                                                                    </td>
                                                                    <td>
                                                                        <%= mismatch.difference.toFixed(2) %>
                                                                            <%= mismatch.unitSymbol %>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <% } %>
                                                        <% } %>
                                                            <% } else { %>
                                                                <div class="center-table">
                                                                    <p style="font-size: 20px; text-align: center">No Mismatches Found: All ingredients are accurately recorded with no discrepancies.</p>
                                                                </div>
                                                                <% } %>

                                                                    <div class="button-container">
                                                                        <a href="/home">
                                                                            <button class="btn btn-submit-count" style="width: 100%;">View Dashboard</button>
                                                                        </a>
                                                                    </div>
        </div>
    </div>
    <%- include("partials/footer") -%>