<%- include("partials/header") -%>
<style>

</style>

<div class="physical-card-holder">

    <div class="card shadow physical-card">
        <div class="physical-header">
            <h1>Physical Count</h1>
            <button type="submit" class="btn btn-submit-count">Submit Physical Count</button>
        </div>
        <hr/>

        <p>
            This is for double-checking the count of stocks between the system and the physical inventory.
        </p>
        <br/>

        <% for(let i = 0; i < ingredients.length; i++) { %>
            <h4 style="text-transform: uppercase;"><b><%= ingredients[i].name %></b></h4>
            <p>Current Running Total: <b><u><%= ingredients[i].totalNetWeight %> <%= ingredients[i].unitSymbol %></u></b></p>
            <hr/>
            <div class="center-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Sizing Option</th>
                        <th scope="col">Net Weight</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!-- For Loop for variation -->
                        <% for(let j = 0; j < ingredientVariations.length; j++){ %>
                            <% if (ingredientVariations[j].ingreID.equals(ingredients[i]._id)) { %>
                                <tr> 
                                    <td><%= ingredientVariations[j].name %></td>
                                    <td><%= ingredientVariations[j].netWeight %></td>
                                    <td><%= ingredientVariations[j].unitSymbol %></td>
                                    <td>
                                        <input type="number" name="ingreQty" placeholder="Qty" min="0" class="form-control" style="margin: auto; width: 80px;" required>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <br/>
        <% } %>

    </div>
</div>

<%- include("partials/footer") -%>