<%- include("partials/header") -%>
    <div class="viewdish-card-holder" >
        <div class="card shadow viewdish-form" style="width: 50vw;">
            <form method="post" action="/manageDishes/process">
                <div class="viewdish-header">
                    <h1>Manage Unit Conversions</h1>
                </div>
                <hr>
                <!-- TODO: For Loop with modal -->
                <!-- TODO: Change Value, id, and name for each dishes -->

                <% if (ingredients.length > 0) { %>
                <table class="table table-striped" id="dishTable"
                    style=" width: 80%; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: left;">Ingredient Name</th>
                            <th scope="col" style="text-align: center;">Base Unit</th>
                            <th scope="col" style="text-align: center;">Conversions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ingredients.forEach(function(ingre) { %>
                        <tr>
                            <td style="text-align: left;">
                                <%= ingre.name %>
                            </td>
                            
                            <td style="text-align: center;">
                                <% units.forEach(function(unit) {%>
                                    <% if(unit._id.toString() == ingre.unitID) { %>
                                        <%= unit.unitName%>
                                    <% } %>
                                <% }) %>
                            </td>

                            <td>
                                <a href="/viewConversions/<%= ingre._id %>" style="color: black; text-decoration: none;">
                                    View Conversions
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <% } else { %>

                <% } %>

            </form>
        </div>
    </div>

<%- include("partials/footer") -%>