<%- include("partials/header") -%>
    <div class="viewdish-card-holder">
        <div class="card shadow viewdish-form" style="width: 80vw;">
            <form method="post" action="/manageDishes/process">
                <div class="viewdish-header">
                    <h1>Manage Dishes</h1>

                    <div style="text-align: center; margin-left: auto">

                        <button id="removeDishBtn" type="submit" class="btn btn-secondary"
                            style="margin-left: 10px; color: white;" disabled>
                            Remove Dish</button>
                    </div>
                </div>
                <hr>
                <!-- TODO: For Loop with modal -->
                <!-- TODO: Change Value, id, and name for each dishes -->

                <% if (dishes.length > 0) { %>
                <table class="table table-striped" id="dishTable"
                    style=" width: 100%; margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: left;">Dish Name</th>
                            <th scope="col" style="text-align: center;">Category</th>
                            <th scope="col" style="text-align: center;">Price</th>
                            <th scope="col" style="text-align: center;">Recipe</th>
                            <th scope="col" style="text-align: center;">Status</th>
                            <th scope="col" style="text-align: center;">Edit Dish</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% dishes.forEach(function(dish) { %>
                            
                        <tr>
                            <% if (dish.isApproved == 'approved') { %>
                            <td style="text-align: left;">
                                <div class="form-check">
                                    <input class="form-check-input select" type="checkbox" value="<%= dish.name %>" name="selectedDishes" id="foodName1">
                                    <label>
                                        <%= dish.name %>
                                    </label>
                            </td>
                            <td><%= dish.category %></td>
                            <td>₱ <%= dish.price %></td>
                            <td><button class="viewRecipeBtn" data-toggle="modal" data-target="#dishDetailsModal<%= dish._id %>" type ="button">
                                    View Recipe</button></td>
                            
                            
                            
                            <td style=text-transform:capitalize><%= dish.isApproved %></td>
                            <td><a href="/editDish?id=<%= dish._id %>" style="color: black; text-decoration: none;">
                                    Edit</a></td>
                                    
                 
                         
                            <% } %>
                            <%if (dish.isApproved == 'for approval' || dish.recipe.isApproved == 'for approval') {%>

                                    <td style="text-align: left;">
                                        <div class="form-check">
                                            <input class="form-check-input select" type="checkbox" value="<%= dish.name %>" name="selectedDishes" id="foodName1">
                                            <label>
                                                <%= dish.name %>
                                            </label>
                                    </td>
                                    <td><%= dish.category %></td>
                                    <td>₱ <%= dish.price %></td>
                                    <td><button class="viewRecipeBtn" data-toggle="modal" data-target="#dishDetailsModal<%= dish._id %>" type ="button">
                                            View Recipe</button></td>
                                    <td style=text-transform:capitalize><%= dish.isApproved %></td>
                                        <td>-</td>
                                        <% } %>
                                
                        </tr>
                        
                        <% }); %>
                        
                    </tbody>
                </table>
                <% } else { %>

                <% } %>

                <div class="form-align-left" style="color: #41A162; margin-top: 10px;">
                    <a href="/addDish" style="color: #41A162;">
                        <i class="fa-solid fa-bowl-food fa-xl" style="color: #41A162;"></i>
                        Add Dishes
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!--MODAL MAKER -->
    <% dishes.forEach(function(dish) { %>
    <div class="modal fade" id="dishDetailsModal<%= dish._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="dishCategory" style="padding: auto;" name="dishCategory"><%= dish.category %></h4>

                    <div data-dismiss="modal">
                        <i class="fa-solid fa-x" style="color: #000000;"></i>
                    </div>

                </div>
                <div class="modal-body">
                    <h2 class="modal-body" id="dishName" style="text-align: center;"><%= dish.name %></h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ingredients</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% dish.recipe.forEach(function(item) { %>
                            <tr>
                                <td><%= item.ingredientName %></td>
                                <td><%= item.chefWeight %></td>
                                <td><%= item.chefUnitSymbol %></td>
                            </tr>
                            <% }); %>
                            <!-- <tr>
                                <td>Lettuce</td>
                                <td>1</td>
                                <td>350g</td>
                            </tr>
                            <tr>
                                <td>Garlic Sauce</td>
                                <td>1</td>
                                <td>200g</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <script src="js/manageDishes.js"></script>
    <%- include("partials/footer") -%>