<%- include("partials/header") -%>

<div class="terminal-card-holder">
    <div class="card terminal-input-card shadow">
        
        <h1 id="content-title">Order Terminal</h1>
        <hr>

        <div id="order-item-holder" class="order-item-holder">
            <% dishes.forEach(function(dish){ %>
                <% if(dish.isActive) { %> 
                    <!-- ORDER ITEM -->
                        <div class="card order-item" onclick="addDishItem(this)">
                            <h5 name="dish-name"><%= dish.name%></h5>
                            <h6 name="dish-price">Php <%= dish.price%></h6>
                            <input type="hidden" name="dish-id" value="<%= dish._id%>">                        
                            <% categories.forEach(function(category){ %>
                                <% if(dish.categoryID == category.id){ %>
                                    <input type="hidden" name="dish-category" value="<%= category.category%>">
                                <% } %>
                            <% }) %> 
                        </div>

                <% } %>
            <% }) %> 
        </div>

        <div class="order-category-holder">
            <div class="order-category" onclick="filterDishes(this)">All</div>
            <% categories.forEach(function(category){ %>
                <!-- CATEGORY -->
                <div class="order-category" onclick="filterDishes(this)"><%= category.category%></div>
            <% }) %> 
        </div>
        
    </div>

    <!-- OUTPUT CARD -->
    <div class="card terminal-output-card shadow" >

        <h1 id="content-title">Current Order</h1>
        <hr>
        <div class="order-terminal-table-holder">
            <form action="/processOrder" method="POST" style="min-width: 100%;"><!-- Form closing tag on Line 210  -->

            <table id="order-terminal-table" class="table table-striped" style="table-layout: auto;">
                <thead>
                    <tr>
                        <th style="text-align: left;">Dish</th>
                        <th style="text-align: center;">Quantity</th>
                        <th style="text-align: right;">Price</th>
                        <th style="text-align: right;"></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <!-- Rows here to be added via JS  -->
                </tbody>
            </table>
        </div>

        <div class="order-terminal-bottom">
        

            <div style="display: flex; flex-direction: row;">
                <h5 style="margin-left: 0px; margin-right: auto; margin-bottom: 0px;">Total:</h5>
                <h1 id="totalPrice" name="totalPrice" style="margin-left: auto; margin-right: 0px;">Php 0.00</h1>
            </div>

            <hr>

            <button class="btn btn-primary w-100" style="margin: 5px; background-color: grey;"
                    id="order-confirm-btn"
                    type="button"
                    class="btn btn-secondary"
                    data-toggle="modal"
                    data-target="#processOrder" disabled>
                Confirm
            </button>

            <button class="btn btn-primary w-100" style="margin: 5px; background-color: grey;"
                    id="order-reset-btn"
                    type="button"
                    class="btn btn-secondary"
                    data-toggle="modal"
                    data-target="#resetOrder" disabled>
                Cancel
            </button>
            
        </div>

    </div>
            
</div>


<div class="modal fade" id="processOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Confirm Order</h4>
            
            <div data-dismiss="modal">
                <i class="fa-solid fa-x" style="color: #000000;"></i>
            </div>

            </div>

            <div class="modal-body">
                Are you sure you want to process this order? 
            </div>
                <div class="modal-footer centered">
                    <button type="submit" style="background-color: #63A375 !important;" class="btn btn-primary">
                        Confirm
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="resetOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Confirm Reset Order</h4>
            
            <div data-dismiss="modal">
                <i class="fa-solid fa-x" style="color: #000000;"></i>
            </div>

            </div>

            <div class="modal-body">
                Are you sure you want to reset this order? 
            </div>
            

            <form action="/viewOrderTerminal" method="GET">
                <div class="modal-footer centered">
                    <button type="submit" style="background-color: #B56576 !important;" class="btn btn-primary">
                        Confirm
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="/js/orderTerminal.js"></script>

<%- include("partials/footer") -%>