<%- include("partials/header") -%>
<a href="/viewStockReport/Custom">
    <button type="button" class="btn btn-submit-count" style="margin-left:1rem;">Make Custom Report</button>
</a>

<div class="periodical-card-holder">
    <div class="card shadow periodical-select-card">
        <form id="report_form" action="/viewStockReport/Periodical" method="post">
            <div class="periodical-header">
                <h1 style="margin-top: 1.2rem; margin-bottom: 1.5rem;">Periodical Stock Report</h1>
                <hr>
            </div>
            <div class="stock-header2">
                <h5>Report Type:</h5>
                <div class="form-group col-md-8">
                    <select id="filterTypeId" class="form-select form-select-md" aria-label="Filter selection" name="filterType" required onchange="reportType(this.value)">
                        <option disabled selected>-Choose One-</option>
                        <% for (var i = 0; i < reportTypeLabels.length; i++) { %>
                            <option value="<%= i+1 %>"><%= reportTypeLabels[i] %></option>
                        <% } %>
                    </select>        
                </div>
            </div>
         
            <div class="stock-header2">
                <h5>Calendar:</h5>
                <div class="col-md-8" id="calendar-div">
                    <input type="text" class="form-control" id="calendar" data-date-end-date="0d" required readonly name="selectedDate" value="<%= selectedDate %>">
                </div>
            </div>
            <hr>
            <button type="submit" id="submitbtn" class="btn btn-submit-count w-100">Submit</button>
        </form>
    </div>
    <div class="card shadow periodical-report-card">
        <div class="periodical-header">
            <h3><b> Stock Report for <%= dateString %> </b></h3>
            <i>Generated on <span id="current_date"></span></i>  
            <hr>
        </div>
        <table id="report-table" class="table table-striped" style="margin-top: 1rem;" data-order='[[ 0, "asc" ]]' data-page-length='10'>
            <thead>
            <tr>
                <th scope="col">Ingredient</th>
                <th scope="col">Purchased</th>
                <th scope="col">Consumed</th>
                <th scope="col">Lost</th>
                <th scope="col">Unit</th>
            </tr>
            </thead>
            <tbody>
                <% ingres.forEach(function(ingredient, index) { %>
                <tr> 
                    <td name="ingredient-name"  style="text-transform: capitalize; padding-left: 2em;" class="left-td">
                        <form id="detailed-report-<%= index %>" action="/viewStockReport/Detailed" method="post">                        
                            <input type="hidden" name="dateString" value="<%= dateString %>">
                            <input type="hidden" name="ingreID" value="<%= ingredient._id %>">
                            <input type="hidden" name="startDateObj" value="<%= startDateObject %>">
                            <input type="hidden" name="endDateObj" value="<%= endDateObject %>">
                            <a href="javascript:{}" onclick="document.getElementById('detailed-report-<%= index %>').submit(); return false;"><%= ingredient.name %></a>
                        </form>
                    </td>
                    <!-- Value from purchasedIngre -->
                    <td id="custom-purchased" name="custom-purchased" class="right-td" style="padding-right: 6em;"> <%= purchasesValues[index] %></td>
                    <!-- Value from dishRecipe (orderItem) -->
                    <td id="custom-consumed" name="custom-consumed" class="right-td" style="padding-right: 6em;">   <%= consumedValues[index] %></td>
                    <!-- Value from discardedIngre + mismatch -->
                    <td id="custom-lost" name="custom-lost"  class="right-td" style="padding-right:5em;">           <%= lostValues[index] %></td>
                    <% 
                    units.forEach(function(unit){
                        if(ingredient.unitID.toString() == unit._id.toString()){
                    %>
                    <td id="custom-unit" name="custom-unit"><%= unit.unitSymbol %></td>
                    <% } }) %>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</div>

<script src="/js/calendarPeriodical.js"></script>
<script src="/js/reportDataTable.js"></script>
<%- include("partials/footer") -%>