<%- include("partials/header") -%>
<a href="/viewOrderReport/Custom">
    <button type="button" class="btn btn-submit-count" style="margin-left:1rem;">Make Custom Report</button>
</a>

<div class="periodical-card-holder">
    <div class="card shadow periodical-select-card">
        <form id="report_form" action="/viewOrderReport/Periodical" method="post">
            <div class="periodical-header">
                <h1 style="margin-top: 1.2rem; margin-bottom: 1.5rem;">Periodical Order Report</h1>
                <hr>
            </div>
            <div class="stock-header2">
                <h5>Report Type:</h5>
                <div class="form-group col-md-8">
                    <select id="filterTypeId" class="form-select form-select-md" aria-label="Filter selection" name="filterType" required onchange="reportType(this.value)">
                        <option disabled selected>-Choose One-</option>
                        <% for (var i = 0; i < reportTypeLabels.length; i++) { %>
                            <option value="<%= i+1 %>"><%= reportTypeLabels[i] %></option>
                        <% } %>
                    </select>        
                </div>
            </div>
         
            <div class="stock-header2">
                <h5>Calendar:</h5>
                <div class="col-md-8" id="calendar-div">
                    <input type="text" class="form-control" id="calendar" data-date-end-date="0d" required readonly name="selectedDate" value="<%= selectedDate %>">
                </div>
            </div>
            <hr>
            <button type="submit" id="submitbtn" class="btn btn-submit-count w-100">Submit</button>
        </form>
    </div>
    <div class="card shadow periodical-report-card">
        <div class="periodical-header">
            <h3><b> Order Report for <%= dateString %> </b></h3>
            <i>Generated on <span id="current_date"></span></i>  
            <hr>
        </div>
        <table id="report-table" class="table table-striped" style="margin-top: 1rem;" data-order='[[ 0, "asc" ]]' data-page-length='10'>
            <thead>
            <tr>
                <th scope="col">Dish Name</th>
                <th scope="col">Quantity Ordered</th>
                <th scope="col">Total Price</th>
                <!-- No date here since it will be shown thru detailed -->
            </tr>
            </thead>
            <tbody>
                <% distinctDishes.forEach(function(dish, index){ %> 
                <tr> 
                    <td name="dish-name"  style="text-transform: capitalize; padding-left: 2em;" class="left-td">
                        <form id="detailed-report-<%= index %>" action="/viewOrderReport/Detailed" method="post">                        
                            <input type="hidden" name="dateString" value="<%= dateString %>">
                            <input type="hidden" name="dishName" value="<%= dish %>">
                            <input type="hidden" name="startDateObj" value="<%= startDateObject %>">
                            <input type="hidden" name="endDateObj" value="<%= endDateObject %>">
                            <a href="javascript:{}" onclick="document.getElementById('detailed-report-<%= index %>').submit(); return false;"><%= dish %></a>
                        </form>
                    </td>
                    <td id="custom-qty" name="custom-qty" >      <%= qtyValues[index] %></td>
                    <td id="custom-price" name="custom-price" class="right-td" style="padding-right: 10em; margin-left:-5em;" >  ₱ <%= priceValues[index] %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</div>

<script src="/js/calendarPeriodical.js"></script>
<script src="/js/reportDataTable.js"></script>
<%- include("partials/footer") -%>