<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #record-card{
        margin: auto;
        width: 600px;
    }

    #record-others-field{
        display: flex;
    }
</style>    

<div id="record-card" class="card shadow">
    <!-- TODO: Change DIV CLASS -> Own [inventory-header] -->
    <div>
        <h1 style="text-align: center; padding: 5px;">Record Additional Purchase</h1>
    </div>
    <hr/>

    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div>
        <p style="text-align: center;">Fill-out all of the fields by inputting the net weight, unit, and quantity bought for the selected ingredient.</p>
        <p style="text-align: center;">You are recording your purchase for the ingredient: <b style="color:rgb(0, 138, 189); text-transform: uppercase;"><u><%= ingredient.name %></u></b></p>
        <br/>
    </div>

    <!-- TODO: Backend form -->
    <form method="post" action="#">
        <!-- TODO: PASS TO JS -->
        <input id="record-select-category" name="ingreCategory" type="hidden" value="<%= ingredient.category %>"/>
        <% console.log(ingredient.category) %>

        <div class="form-group">
            <label>Net Weight & Unit</label>
            <!-- TODO: Translate Style to CCS -->
            <select id="record-select-nu-input" name="ingreNetUnit" class="form-select form-select-md" style="width: 100%; padding: 5px;" onchange="addInputFields()" required>
                <option disabled selected value> -- Select Net Wt. & Unit -- </option>
                <!-- TODO: Backend (ingreVariants)-->
                <!-- TODO: Selected ingredient MUST be basis -->
                <% if(variants.length > 0) {%>
                    <% variants.forEach(variant => { %> 
                        <% units.forEach(unit => { %>
                            <% if (unit._id.equals(variant.unitID)) {%>
                                <option value="<%= variant._id %>"><%= variant.netWeight%> <%= unit.unitSymbol %> (<%= unit.unitName %>s)</option>
                                <!-- Steps: Backend
                                    1. Variable for variant id
                                    2. User variant id in finding() for exact variant
                                    3. Extract net weight & unit (from variantId)
                                    4. Check what is the MAIN UNIT being used in viewInventory (for that particular ingredient)
                                    5. Compare INPUT UNIT to INVENTORY UNIT
                                        5.1. Convert value of net weight if INPUT UNIT != INVENTORY UNIT
                                    6. Accummulate TOTAL NET WEIGHT
                                 -->
                            <% }%> 
                        <% })%> 
                    <% }) %> 
                <% } %>
                <option value="others">Others... (Specify)</option>
            </select> 
        </div>
        <div class="form-group" id="record-others-field"></div>
        <br/>

        <div>
            <label>Quantity</label>
            <!-- TODO: CSS - Translate Style -->
            <input type="number" name="ingreQty" class="form-control" placeholder="Minimum: 1" min="1" max="10" style="text-align: left; width: 100%; padding: 5px;" required>
        </div>
        <br/>

        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Update Inventory</button>
    </form>
</div>

<script src="/js/recordAddtl.js"></script>

<%- include("partials/footer") -%>