<%- include("partials/header") -%>

<!-- TODO: Translate to CSS -->
<style>
    #view-inventory-card{
        width: 1200px;
        margin: auto;
    }

    .view-inventory-header button, h1{
        display: inline-block;
    }

    .view-inventory-header button{
        float: right;
    }
</style>

<div id="view-inventory-card" class="card shadow">
    <div class="view-inventory-header">
        <h1>Inventory</h1>
        <a href="/viewInventory/discard/p1"><button class="btn btn-danger">Discard Ingredients</button></a>
    </div>
    <hr/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ingredient Name</th>
                <th scope="col">Stock Status</th>
                <th scope="col">Running Total (Net Weight)</th>
                <th scope="col">Unit</th>
                <th scope="col">Reorder Point</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: For-Loop with Ingredients -->
            <% ingredients.forEach(function(ingredient) { %>
                <tr>
                    <td style="text-transform: capitalize;"><%= ingredient.name %></td>
                    <!-- TODO: To be replaced with actual data -->
                    <% if(ingredient.totalNetWeight > 0){ %>
                        <td class="table-success">  
                            In stock
                        </td>
                    <% } else { %>
                        <td class="table-danger">  
                            Out of Stock
                        </td>
                    <% } %>
                    <td>
                        <!-- Rounded to 2 decimal places -->
                        <%= ingredient.totalNetWeight %> 
                        <!-- Math.round(ingredient.totalNetWeight * 100) / 100 -->
                    </td>
                    <td>
                        <%= ingredient.unitSymbol %>
                    </td>
                    <td>
                        <%= ingredient.reorderPoint %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<%- include("partials/footer") -%>