<%- include("partials/header") -%>

<div class="card shadow">
    <!-- TODO: Change DIV CLASS -> Own [inventory-header] -->
    <div>
        <h1>Inventory</h1>
    </div>
    <hr/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Stock Status</th>
                <th scope="col">Running Total (Net Weight)</th>
                <th scope="col">Unit</th>
                <th scope="col">Reorder Point</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: For-Loop with Ingredients -->
            <% ingredients.forEach(function(ingredient) { %>
                <tr>
                    <td>
                        <%= ingredient.name %>
                    </td>
                    <td class="table-success">
                        <!-- To be replaced with actual data -->
                        In stock
                    </td>
                    <td>
                        <%= ingredient.totalNetWeight %>
                    </td>
                    <td>
                        <%= ingredient.unitSymbol %>
                    </td>
                    <td>
                        <%= ingredient.reorderPoint %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>
<%- include("partials/footer") -%>